body {
  text-align: center;
}


.column {
  background-color: blueviolet;
  color: white;
  padding: 10px;
  float: left;
  width: 30%;
  box-sizing: border-box;
  margin: 10px;
  
}

.link {
  background-color: white;
  padding: 3px;
}

.description p{
  background-color: burlywood;
}

img {
  margin: 5px;
  float: left;
}