body {
  text-align: center;
}


.column {
  background-color: blueviolet;
  color: white;
  padding: 10px;
  float: left;
  width: 30%;
  box-sizing: border-box;
  margin: 10px;
  
}

.link {
  background-color: white;
  padding: 3px;
  font-style: italic;
}

img {
  margin: 30px;
  float: left;

}

.description {
  background-color: burlywood;
  width: 500px;
  float: right;
  margin: 30px;
}
